OTP_service_API_key=your_api_key_here
db_host=your_database_host_here
db_user=your_database_user_here
db_password="your_database_password_here"
db_name=your_database_name_here
db_port=your_database_port_here
google_client_id=your_google_client_id_here.apps.googleusercontent.com